
<div class="">
    <div class="card">
      <div class="card-header">
        Product list
      </div>
      <div class="card-custom">
        <button class="btn btn-primary" routerLink="./create">Add product</button>
        <form class="d-flex col-6">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                 placeholder="Search">
        </form>
      </div>
      <div class="card-body">
        <table class="table table-hover" >
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products | filter:searchText; let i = index ">
            <th scope="row">{{product.id}}</th>
            <td><a routerLink="./detali/{{product.id}}">{{product.name}}</a></td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td colspan="2">
              <button class="btn btn-warning" routerLink="./update/{{product.id}}">Edit</button>
              <button class="btn btn-danger" (click)="deleteProduct(i)" >Delete</button>
            </td>
<!--            <td><a routerLink="./detali/{{product.id}}">Detail</a></td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
